In [2]:
import pandas as pd
mam = pd.read_csv('/vagrant/provisioning/files/Data_analysis/machine_learning/input-files/mammography.csv',sep=',')
mam.head()

  BIRADS Age Shape Margin Density  Severity
0      5  67     3      5       3         1
1      4  43     1      1       ?         1
2      5  58     4      5       3         1
3      4  28     1      1       3         0
4      5  74     1      5       ?         1

In [4]:
mam['Severity'].mean()

0.4630593132154006

In [12]:
mam.groupby('Severity')['BIRADS'].count()

Severity
0    427
1    403
Name: BIRADS, dtype: int64

In [13]:
mam = mam[mam['BIRADS'] != '?']
mam = mam[mam['Age'] != '?']
mam = mam[mam['Shape'] != '?']
mam = mam[mam['Margin'] != '?']
mam = mam[mam['Density'] != '?']

In [14]:
mam.count()

BIRADS      830
Age         830
Shape       830
Margin      830
Density     830
Severity    830
dtype: int64